body{
    background-image: url('../img/80.jpg');
    flex-wrap: wrap;
    
    
}
.conection{
    align-items: center;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:500px;
    height:600px ;
    background-color: white;
    border-radius: 50px;

}
.a h1{
    color:rgb(138, 231, 129);
    font-family:Quicksand;
    font-size: 40px;
}
.b{
    margin-top:4.5%;
}
.c{
    margin-top:8%;
}
.c .email{
    padding-left:6px;
    width: 400px;
    height: 50px;
    border-radius: 6px;
    font-family:Quicksand;
    color: rgb(207, 204, 204);
    font-weight: 700;
    border: none;
    background-color:rgb(245, 245, 245) ;
}
.d{
    margin-top: 3.5%;
}
.d .mot_de_passe{
    width: 400px;
    height: 50px;
    border-radius: 6px;
    font-family:Quicksand;
    color: rgb(207, 204, 204);
    font-weight: 700;
    border: none;
    background-color:rgb(245, 245, 245) ;
    padding-left:6px;
}
.e{
    margin:6%;
}
.e p{
    font-family:Quicksand;
    color: black;
    font-weight: 700;
    font-size: 13px;
}
.e span{
    font-family:Quicksand;
    color:rgb(138, 231, 129);
    font-weight: 700;
    font-size: 13px; 
}
.f{
    margin-top:10%;
}
.f .btn{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(138, 231, 129);
    font-family:Quicksand;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border: none;

}
.connection{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.conecter{
    width: 40px;
}

