*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior:smooth;
    
  }
 
  
body{
  background-color: #F3EFE6;
  scroll-behavior:smooth;
}

  body div nav ul li{
      width: 100%;
      flex-wrap: wrap;
      height:40px;
      background-color: #fff;
      text-align: center;
      text-decoration: none;

      
  
  }
  a{
      text-decoration: none;
      list-style: none;
      color: black;
      flex-wrap: wrap;
  
  }
  .nav{
      padding-top:8px;
      display: flex;
      justify-content: space-around;
  }
  .logo2{
      width:20px;

      
  }
  .conecter{
    --webkit-transform:scale(1.0);
    transform: scale(1.0);
    --webkit-animation: 3ms ease-in-out;
    transition: 3ms ease-in-out;
  
  }
  .conecter:hover{
    
    --webkit-transform: scale(1.20);
    transform: scale(1.20);
  }
.text-nav{
  font-family:Quicksand;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  color: #000;
}
.text-nav:hover{
  color: #49A561;
}
.text-top{
  width: 100%;
  text-align: center;
  height: 60px;
  background-color:#f1f0eb ;
}
.text-div-top{
  padding-top: 10px;
  color: #49A561;
  letter-spacing: 1px;
  padding-left: 10px;
}
.experience{
  background-image: url('../projet1/head-page2.jfif');
  background-position: center;
  background-size: cover;
  height: 550px;
  flex-wrap: wrap;
  width: 100%;
}
.arche{
  margin-top: 6%;
  text-align: center;
}
.titre-arche{
  font-family:Quicksand;
  font-weight: 500;
  font-size: 40px;
  color: #49A561;
}
.text-arche{
  padding-top: 20px;
  color: #000;
  font-size: 20px;
}
.logo-nav{
  width: 28px;
}


.image1-page2{
  width: 800px;
  height:600px;
  border-radius: 50px;
  
}
.image-2{
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.text-image-2{
  text-align: center;
  margin-top: 2%;
}
.image-3{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.image-3-page3{
  width: 700px;
  height:500px;
  border-radius: 50px;
}


.image-4{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.image4-page4{
  width: 700px;
  height:500px;
  border-radius: 50px;
}
.titre-activiter{
  font-family:Quicksand;
  font-weight: 500;
  font-size: 40px;
  color: #49A561;
  padding-left: 80px;
}
.text-image4{
  padding-top: 20px;
  color: #000;
  font-size: 25px;
  padding-left: 80px;

}
.image-5{
  margin-top: 5%;
  background-image: url('../projet1/image-5-page2.jpg');
  background-position: center;
  background-size: cover;
  height:700px;
  flex-wrap: wrap;
  width: 100%;
}
.text5{
  text-align: center;
  margin-top:5%;
}
.text-image5{
  color: #000;
  font-size:30px;
  
}
.image-6{
  margin-top: 5%;
  background-image: url('../projet1/poney.jpg');
  background-position: center;
  background-size: cover;
  height:700px;
  flex-wrap: wrap;
  width: 100%;
}
.text-activiter-fin{
  margin-top: 5%;
text-align: center;
}
.titre-fin{
  
  font-family:Quicksand;
  font-weight: 500;
  font-size: 40px;
  color: #49A561;

}
.text-image7{
  padding-top:2%;
  color: #000;
  font-size: 25px;
}
.temoignage{
  margin-top:5%;
  padding-top: 4%;
  background:#49A561;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
  
}

.temoignage .contenu{
  display: flex;
  margin-top: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.temoignage .contenu .box{
  width: 300px;
  margin: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 40px;
}

.temoignage .contenu .box .imbox{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  border: 2px solid #95e947;
}

.temoignage .contenu .box .imbox img{
  position: relative;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  object-fit: cover;
  justify-content: center;
  align-items: center;

}

.temoignage .contenu .box .text{
  text-align: center;
  color: #666;
  font-style: italic;
}

.temoignage .contenu .box .text h3{
  color: #93dd80f1;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 600;
}
.l{
  
  color:#080808f1;
  letter-spacing: 3px;
}
.k{
  
  color:#93dd80f1;
  font-family:Amatic SC;
  font-size: 24px;
  font-weight:bolder;
  
}
.titre-blanc{
  text-align: center;
}












.btn {
  height:35px;
  width: 35px;
  background: #F3EFE6;
  border-radius: 50%;
  display: flex;
  justify-content:center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
.icone {
  width: 35px;
}
@media screen and (max-width:1000px) {
  .text-nav{
    font-size:10px
  }
  .g{
    display: flex;
    flex-direction: column;
  }
  
}

.vlog{
  
  
  
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
  
}

.vlog .contenu{
  display: flex;
  margin-top: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.vlog .contenu .box{
  width: 350px;
  margin: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 40px;
}

.vlog .contenu .box .imbox{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  
}

.vlog .contenu .box .imbox img{
  position: relative;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  object-fit: cover;
  justify-content: center;
  align-items: center;

}

.vlog .contenu .box .text{
  text-align: center;
  color: #666;
  font-style: italic;
}

.vlog .contenu .box .text h3{
  color: #93dd80f1;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 600;
}
.u{
  padding-top:2%;
  color:#080808f1;
  letter-spacing: 3px;
  font-family:Amatic SC;
  font-size:50px;
  text-decoration: underline #000 3px;
}

.titre-blanc{
  text-align: center;
}
.message-vlog{
  padding-left:20px;
  padding-top: 380px ;
  flex-wrap: wrap;
}
.message{
  width: 30px;
}
.gauche{
  width: 50%;
  height: 300px;
  background-color: #F5F5F5;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.droit{
  width: 50%;
  height: 300px;
  background-color: #757474;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer{
  display: flex;
  flex-direction: row;
}
.w{
  margin-top: 5%;
}
.w p{
  font-family: Amatic SC;
  font-weight: 700;
  font-size: 37px;
}
.x{
  margin-top: 4%;
}
.x input{
  width: 350px;
    height: 30px;
    border-radius: 6px;
    font-family:Quicksand;
    color: rgb(221, 220, 220);
    font-weight: 700;
    border: none;
    background-color:rgb(207, 204, 204) ;
}
.c{
  margin-top: 3%;
}

.c select{
  width: 350px;
    height: 30px;
    border-radius: 6px;
    font-family:Quicksand;
    color: rgb(92, 91, 91);
    font-weight: 700;
    border: none;
    background-color:rgb(207, 204, 204) ;
}
.btn-2{
  margin-top:6%;
}
.btn-2 input{
    width: 150px;
    height: 30px;
    border-radius:20px;
    background-color: #ADD981;
    font-family:Quicksand;
    color: white;
    font-size: 19px;
    font-weight:400;
    border: none;
}
.v{
  margin-top: 5%;
}
.v h2{
  font-family: Amatic SC;
  font-weight: 700;
  font-size: 37px;
  color: #fff;
}
.i{
  margin-top: 5%;

}
.i p{
  font-family:Amatic SC;
  font-size: 25px;
  color: #fff;
  font-weight: 700;

}
.n{
  margin-top:8%;}

.n a{
  color:#fff;
}

